.App h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

.bg1 {
  background-image: url("../public/images/bg/background.png");
  background-size: cover;
}

.bg2 {
  background-image: url("../public/images/bg/background2.jpg");
}

.App .title {
  padding: 2rem 0 0;
}

.App .btn-std {
  background-color: transparent;
  color: white;
  cursor: pointer;
  padding: 1rem 2rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: white solid 1px;
  margin: 1rem 0;
}

.App .btn-std:hover {
  background-color: white;
  color: black;
}

.score-box {
  display: flex;
  width: 70%;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}